.top-heading{
  background: rgb(20,117,188);
  background: linear-gradient(90deg, rgba(20,117,188,1) 0%, rgba(237,50,68,1) 78%);
    padding: 5px 0;
    transition: all 0.5s;
}
.top-heading .top_left ul,.top-heading .top_right ul{
    list-style: none;
    margin-bottom: 0;
    
}
.top-heading .top_left ul li,.top-heading .top_right ul li{
    display: inline;
}

.top-heading .top_left ul li a i{
  background-color: #fff;
  color: #ed3237;
  font-size: 14px;
 width: 25px;
 height: 25px;
 text-align: center;
 line-height: 25px;
  border-radius: 50%;
  margin-right: 11px;
  margin-left: 10px;
  text-shadow: none;
  vertical-align: middle;
}
.top-heading .top_left ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    vertical-align: top;
    font-family: "Rubik", sans-serif;
    /* text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%); */
}


.top-heading .top_right{
    display: flex;
    justify-content: end;
}
.top-heading .top_right ul li{
   margin-right: 5px;
}

.top-heading .top_right ul li a{
    display:inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 1px;
    vertical-align: middle;
    font-size: 15px;
    border-radius: 50%;
    color: #fff;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.top-heading .top_right ul li:nth-child(1) a{
  color: #3b5999;
}
.top-heading .top_right ul li:nth-child(2) a{
  color: #f50000;
}
.top-heading .top_right ul li:nth-child(3) a{
  color: #00acee;
}
.top-heading .top_right ul li:nth-child(4) a{
  color: #dd277b;
}